body {
    padding: 0;
    margin: 0;
    font-family: "Roboto Mono";
    color: black;
    font-size: 20px;
    background-color:#F2F6FF;
}

.countainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap:nowrap;
    gap: 5px;
}
 
.mainImage {
    margin-top: 50px;
    /* position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 0; */
}

.title-box {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

h1 {    
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;
    display: flex;
    align-items: center;
    
    color: #000000;
}

.text {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

.nav-bar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    max-width: 300px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
}

.navigation {
    display: grid;
    align-items: center;
    grid-template-columns: 180px;
    grid-template-rows: 25px;
    grid-gap: 10px;
    grid-auto-rows: minmax(auto, auto);

}
/* Teletype blog */
.blog-link {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    margin-right: 1rem;
    min-width: 0;
}
.blog_icon {
    flex: 0 0 auto;
    margin-top: 10px;
    height: 2rem;
    margin-right: 0.5rem;
}
#blog {
    flex: 1 1 auto;
    overflow: hidden;
}
/* Github */
.gh-link {
    grid-column: 1 ;
    grid-row: 2;
    display: flex;
    margin-right: 1rem;
    min-width: 0;
}
.github_icon {
    flex: 0 0 auto;
    margin-top: 10px;
    height: 2rem;
    margin-right: 0.5rem;
}
#github {
    flex: 1 1 auto;
    overflow: hidden;
}
/* Telegram */
.tg-link {
    grid-column: 2; 
    grid-row: 1;
    display: flex;
    margin-right: 1rem;
    min-width: 0;
}
.telegram_icon {
    flex: 0 0 auto;
    margin-top: 10px;
    height: 2rem;
    margin-right: 0.5rem;
}
#Telegram {
    flex: 1 1 auto;
    overflow: hidden;
}
/* LinkedIn */
.li-link {
    grid-column: 2; 
    grid-row: 2;
    display: flex;
    margin-right: 1rem;
    min-width: 0;
}
.linkedin_icon {
    flex: 0 0 auto;
    margin-top: 10px;
    height: 2rem;
    margin-right: 0.5rem;
}
#LinkedIn {
    flex: 1 1 auto;
    overflow: hidden;
}